---
layout: default
---

<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>
</div>

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}
<div class="post-content" unicode_script="{{ page.unicode_script }}">

   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}

    {% unless page.toc == false %}
    {% include toc.html %}
    {% endunless %}


    {% if site.github_editme_path %}

    <a target="_blank" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>

    {% endif %}

    
    {% if page.format_inline_comments %}
        {% assign comment_type1_regex = '{{(.+?)}}' %}
        {% assign comment_type1_regex_replacement = '<div class="sanskrit_comment">{\1}</div>' %}
        {% assign comment_type2_regex = '\(=(.+?)\)' %}
        {% assign comment_type2_regex_replacement = '<div class="sanskrit_comment">(\1)</div>' %}
        {% assign dummy_example = '(=कश्चित्)' %}
        <!--Handles stuff like: जरते (=स्तौति) स्वा॒धीः or त्रे॒धा {रूपाणि अग्नि-विद्युत्-सूर्यास्} त्र॒याणि॑-->
        {{content| regex_replace: comment_type1_regex,  comment_type1_regex_replacement |  regex_replace: comment_type2_regex,  comment_type2_regex_replacement}}
    {% else %}
        {{content}}
    {% endif %}

    <div class="tags">
        {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{site.baseurl}}{{ "/tags/" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% include disqus.html %}

</div>

{{site.data.alerts.hr_shaded}}

{% include footer.html %}
